* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme="dark"] {
  /* variáveis */
  --background-color: #121212;
  --text-color: #ffffff;
  --text-color-btn: #ffffff;
  --primary-color: #fe5626;
  --hover-primary-color: #ff7954;
  --secondary-color: #696969;
  --color-icon: #fe5626;
}

html[data-theme="light"] {
  /* variáveis */
  --background-color: #efefef;
  --text-color: #121212;
  --text-color-btn: #ffffff;
  --primary-color: #fe5626;
  --hover-primary-color: #ff7954;
  --secondary-color: #4e4e4e;
  --color-icon: #121212;
}

body {
  font-family: "Jura", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  text-align: center;
  width: 18.75rem;
  margin: 1.875rem auto;
}

a {
  text-decoration: none;
}

img.avatar {
  width: 100%;
  border-radius: 50%;
  width: 11.5rem;
  height: 11.5rem;
  border: 0.25rem solid var(--primary-color);
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0.5rem;
  opacity: 0.6;

  transition: opacity 500ms;
}

.subtitle:hover {
  opacity: 1;
}

.local {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: var(--secondary-color);
  opacity: 0.8;
}

ul {
  list-style: none;
  margin: 1.875rem 0;
}

ul li a {
  height: 3.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color-btn);
  text-transform: uppercase;
  font-size: 0.875rem;

  margin-bottom: 0.875rem;
  border-radius: 0.375rem;

  transition: 400ms;
}

ul li a:hover {
  background-color: var(--hover-primary-color);
}

.bi {
  margin: 0.313rem;
  font-size: 1.25rem;
}

.local .bi {
  font-size: 1rem;
}

#theme-toggler {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  margin-left: 1.5%;
  top: 5%;

  color: var(--secondary-color);
  font-size: 1.75rem;
  padding: 0.3125rem 0.4375rem;
  transition: 0.8s;
  border-radius: 0.375rem;
}

#theme-toggler:hover {
  color: var(--color-icon);
  padding: 0.3125rem 0.4375rem;
  transition: 0.8s;
}

footer {
  font-weight: 500;
  font-size: 0.75;

  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}
